.card-content {
  background-color: aliceblue;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  min-height: 20rem;
  padding-bottom: 0;
}

.card-actions {
  background-color: aliceblue;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
}

.upvote-btn {
  display: flex;
  font-size: 1rem;
  background-color: #80c9e7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 6.5rem;
}

.delete-btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.5rem;
  background-color: #ffd5d1;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 6.5rem;
}

.card-title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card-description {
  margin-bottom: 0.5rem;
}

.card-image {
  width: 17rem;
}

.card-owner {
  margin-top: 0.5rem;
}

.icon {
  width: 2.5rem;
}
