.footer {
    background-color: #80c9e7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 5vh;
    font-family: "DM Sans", sans-serif;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin-top: 20px; /* Remove margin-top so it doesn't float above the bottom */
    z-index: 100;
}

.board-title-board {
  /* background-color: #80c9e7; */
  color: #80c9e7;
  padding: 0.5rem;
  width: 15rem;
  font-size: 4rem;
  margin-bottom: 0;
  border-radius: 0.3rem;
}