.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 2rem;

}

.no-boards-message {
    font-size: 60px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    color: #80c9e7;

}