*{
    margin:0;
    box-sizing: border-box;
}


h1 {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  text-shadow: 2.5px 2px rgb(205, 69, 69);
  background-color: #80c9e7;
  color: #d9f4fe;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-size: 4rem;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}


.dark-mode {
  background: #18181b !important;
  color: #f3f4f6 !important;
}

.dark-mode .row {
  color: black;
}

.dark-mode .SubNavBar {
  color: black;
}

.dark-mode .BoardCard,
.dark-mode .footer,
.dark-mode .create-board-modal-content,
.dark-mode .create-card-modal-content {
  background: #23272f !important;
  color: #f3f4f6 !important;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
  background: #2d2d34 !important;
  color: #f3f4f6 !important;
  border-color: #444 !important;
}

.dark-mode button {
  /* background: #333 !important; */
  color: #000000 !important;
  border-color: #444 !important;
}
